main { 
  width: 550px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.image {
  height: 10em;
  display: block;
  align-items: center;
  justify-content: center;
  width: 200%;
  height: 200%;
  transform: translate(-25%, -10%);
  margin-top: 15px;
}

h1 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none; 
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 35px;
  font-weight: bold;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none; 
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}

h3 {
   font-family: 'Abril Fatface', cursive;
   font-size: 60px;
   margin-top: 0px;
   color: black;
}

h4 {
  font-family: 'Merriweather', serif;
  text-decoration: none; 
  font-size: 13px;
  margin-top: 0px;
}

.beginning {
  display: block;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  margin-bottom: 0px;
  z-index: 2;
  position: absolute;
  top: 170px;
  right: 0px;
  width: 100%;
  display: block;
  margin: auto;
}

.end {
  z-index: 2;
  position: absolute;
  top: 200px;
  right: 0px;
  width: 100%;
  display: block;
  margin: auto;
}

.container {
  display: block;
  position: relative; 
}

blockquote p {
  padding: 25px;
  background: #222;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 38px;
  margin-right: -50px;
  margin-left: -50px;
  margin-top: 0px;
  text-align: center; 
}
 
blockquote p::before {
  content: "\201C ";
  white-space: pre-wrap;
  font-size: 90px;
  padding-top: 0px;
} 


blockquote  {
  margin: 0px;
}

#second {
  text-align: left;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  margin-top: 10px;
}

li {
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 25px;
  padding: 5px;
}

hr {
  text-decoration: bold;
  background-color: black;
  height: 3px;
}